<header class="header">
    <div class="header__logo">
        <img src="https://i.ibb.co/njBXyTk/logo.png">
    </div>
    <div class="header__menu">
        <ul>
            <a href="#">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>ABOUT</li>
            </a>
            <a href="#">
                <li>WORKS</li>
            </a>
            <a href="#">
                <li>CONTACT</li>
            </a>
        </ul>
        <span class="hamburger__menu">☰</span>
    </div>
</header>
<section class="errorPage">
    <div class="errorPage__text">
        <h3>404</h3>
        <span class="errorPage__button">Back to home</span>
    </div>
    <span class="errorPage__templeweed-container"><img src="https://i.ibb.co/mTg87G2/tembleweed.png"
                                                       class="errorPage__tembleweed"></span>
    <div class="errorPage__terrain"></div>
</section>