{% extends "index.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" style="width: 25em;margin: auto">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success" value="Create">Create student</button>
    </form>

{% endblock content %}