{% extends "index.html" %}
{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last nam</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ student.pk }}</th>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.birth_date|default:"Unknown" }}</td>
                {% if student.birth_date %}
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown age</td>
                {% endif %}
                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'students:update_student' student.pk %}"
                    >Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-primary"
                       href="{% url 'students:delete_student' student.pk %}"
                    >Delete</a>
                </th>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content %}